@import "~office-ui-fabric-react/dist/sass/References.scss";

.docRow {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link);

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered);
    }
  }
}
.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}
.docRowContainer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  width: 100%;
  background-color: #ececec;
  gap: 10px;
  box-sizing: border-box;
  padding: 1rem;
  min-height: 100%;
}

.searchInput {
  border: none;
  border-radius: 20px;
  display: flex;
}

.uploadIcon {
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 30px;
}

.columnOne {
  height: auto;
}

.columnTwo {
  height: auto;
}

.columnThree {
  height: auto;
  background-color: #ffcc00;
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.headerText {
  font-size: 28px;
  margin-bottom: 1rem;
}

.topDoc {
  display: flex;
  align-items: center;
  gap: 2rem;
}

li {
  margin-top: 0.5rem;
}

.downloadIcon {
  font-size: 16px;
  color: #111111;
}

.documentLink {
  color: #111111;
  text-decoration: none;
}

.docCol {
  display: flex;
  flex-direction: column;
}

li {
  list-style-image: url("../assets/doc.png");
}

p {
  font-weight: 500;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayText {
  color: #fc0;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  z-index: 1;
}

.imageCard {
  position: relative;
}
.imageCard > a > img {
  object-fit: contain;
}

@media (max-width: 900px) {
  .docRowContainer {
    grid-template-columns: 1fr;
  }
  .imageCard > a > img {
    object-fit: cover;
    width: 100%;
  }
}
